/*
    Basic Element Tag
*/
body {
    font-family: "Titillium Web", Helvetica, Arial;
    color: rgb(224,233,230);
    background-color: rgb(2, 6, 23);
}

h1, h2, h3, h4, h5, h6 {
    font-family: "DM Serif Text", sans-serif;
    color: rgb(214,159,93)
}

.blog-header-logo  {
    font-family: "Playfair Display", sans-serif;
    font-weight: bold;
    color: rgb(214,159,93)
}

a, a:active, a:link, a:visited {
    text-decoration: none;
}

/**
    Custom CSS Here
*/
.blog-header-logo {
    font-size: 2rem;
    text-decoration: none;
}

a.blog-header-logo, a:link.blog-header-logo, a:visited.blog-header-logo
a:active.blog-header-logo{
    color: rgb(214,159,93);
}

.nav-scroller::before {
    content: " ";
    display: block;
    width: 100%;
    height: auto;
    border-top: 1px solid rgb(95, 95, 95);
}
.nav a {
    position: relative;
    border-bottom: 0px;    
}

.nav a:not(.text-muted)::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0px; /* Atur ketebalan garis bawah sesuai keinginan Anda */
    background-color: #0a58ca; /* Atur warna garis bawah */
    bottom: 0;
    left: 0;
}

.nav a:hover:not(.text-muted)::before {
    height: 1px;
    border-bottom: 1px solid #0a58ca;
    animation: animate 1s infinite cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes animate {
    0% {
        left: -5px;
    }
    50% {
        left: 5px;
    }
    100% {
        left: -5px;
    }
}

.carousel {
    width: 100%;
    height: 500px;
    border-radius: 5px;
}
.carousel-item > img {
    border-radius: 10px;
    height: 500px !important;
    width: 100%;
    object-fit: cover !important;
    object-position: center !important;
}

.carousel-caption {
    background-color: rgba(0,0,0,.7);
    border-radius: 50px;
}
.content {
    min-height: 1000px;
    width: 100%;
}

.card-film {
    position: relative;
    border-radius: 15px;
    background-color: rgba(255,255,255,.9);
    width: 100%;
    min-height: 400px;
    color: rgb(2, 6, 23);
}
.card-film-rating {
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 1.25em;
    font-weight: 600;
    background-color: black;
    color: rgb(214,159,93);
    padding: 15px 10px;
}

.card-film > img {
    border-radius: 15px;
    height: 400px;
    width: 100%;
    object-fit: cover !important;
    object-position: center !important;
}

.card-film-detail {
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 150px;
    width: 100%;
    padding: 20px;
    background-color: rgba(0,0,0,.9);
}

.card-film-caption {
    font-weight: 500;
    color: white;
}

.content .post {
    color: rgb(2, 6, 23);
    background-color: white;;
}

table.seating {
    border-collapse: separate;
    border-spacing: 20px;
}

table.seating td {
    padding: 10px;
    text-align: center;
    height: 64px;
    width: 64px;
    border-radius: 10px;
    border: 1px solid white;
}

table.seating td:hover {
    background-color: white;
    color: black;
    transition: 0.75s ease-in;
    cursor: pointer;
}

.selected {
    background-color: white;
    color: black;
}
